/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* Navbar Styles */

.container {
    min-width: 100%;
    margin: 0;
    background-color: #fff;
    box-shadow: 0px 0px 8px 8px rgb(49, 32, 24);
}

.brand {
    font-family: 'Smooch', cursive;
    font-weight: 600;
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
}


.nav {
    position: absolute;
    right: 0;
    background-color: #fff;
}


/* Header Styles */
.header-section {
    min-width: 1000px;
    min-height: 90vh;
    background-color: rgb(139, 139, 139);
    color: #fff;

}


video {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


.heading-title {
    font-family: 'Smooch', cursive;
    font-size: 10rem;
    margin: 10% 0 1% 0;
    z-index: 1;

    position: absolute;
    top: 130px;
    left: 100px;
   
}

.heading-sub-title {
    font-family: 'Special Elite', cursive;
    font-size: 5rem;
    margin-bottom: 2%;
    z-index: 1;

    position: absolute;
    top: 500px;
    left: 120px;
}

.events-btn, .contact-btn {
    z-index: 1;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgb(70, 49, 38);
    border-radius: 6px;
    border: solid 2px rgb(88, 62, 48) ;
    padding: .5% 2%;
    z-index: 1;

    position: absolute;
    top: 620px;

    box-shadow: 0 0 5px 5px rgb(37, 24, 18); 
}

.events-btn {
    left: 120px;
}

.contact-btn {
    left: 300px;
}

.events-btn:hover, .contact-btn:hover,
.events-btn:focus, .contact-btn:focus {
    color: rgb(92, 60, 45);
    background-color: #fff;
    border: 3px solid rgb(92, 60, 45);
    transform: translateY(4px);

    box-shadow: none;
}
